$color-white:#FFF;
$color-black:#000;
$color-dark: #334247;
$color-selected:#2A3438;
$color-red:#DC3F45;
$color-green:#5BB189;
$color-blue:#3A6BA5;
$color-orange:#EC632A;
$text-color-black:#000;
$text-color-white:#FFF;
$shadow-color:rgba(0, 0, 0, 0.087466);